<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<img class="logo" src="public/logo.png" alt="Logomarca do Studio Ghibli">            
 
<title>Studio Ghibli</title>

<link href="https://fonts.googleapis.com/css?family=Courier+Prime:400,400i,700,700i&display=swap" rel="stylesheet">
<link rel="icon" type="image/icon" href="https://image.flaticon.com/icons/svg/870/870919.svg">
<link rel="stylesheet" href="style.css">


</head>
<body>

<p class="subtitle"> Aqui você pode encontrar avaliações dos melhores filmes de animação do Studio Ghibli</p>
<br>

<div id="container">
	<section id="movies">
		<div class="movie">
			<img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/totoro-valentina-hramov.jpg"
				 alt="Imagem de Totoro">
			<div class="content">
				
				<h4> Meu Vizinho Totoro </h2>
				<h5> Tonari no Totoro </h4>
			</div>
		</div>

		<div class="movie">
			<img src="https://i.pinimg.com/originals/b3/86/d3/b386d36ca0f7bc77a990b653d6266fa7.png"
			alt="Imagem de Kiki">

			<div class="content">

				<h4> O Serviço de Entregas da Kiki </h2>
				<h5> Majo no Takkyuubin </h4>

			</div>
			
		</div>


 		<div class="movie">
			<img src="https://66.media.tumblr.com/f41e779b90573da7b4aade111bf7b15a/tumblr_p4bi84q3Mt1wpx51ho3_250.jpg"
			alt="Imagem de Chihiro">

			<div class="content">

				<h4> A viagem de Chihiro </h2>
				<h5> Sen to Chihiro no kamikakushi</h4>

			</div>
			
		</div>
	</section>
		
</div>


	

</div>




</body>
</html>
